<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>Bienvenidos a la tarjeta de presentación online!</h1>
</header>
<section>
  <div class="input-area">
  Nombre: <input [(ngModel)]="name" [readonly]="isDisabled" type="text" class="input_text"/>
  </div>
  <img class="avatar" src="https://api.adorable.io/avatars/285/josep.png" alt="">
  <div class="input-area">
  Trabajo: <input [(ngModel)]="position" [readonly]="isDisabled" type="text" class="input_text"/>
  </div>
</section>
<footer>
  <button (click)="saveEvent()" class="save_button">{{buttonText}}</button>
  <button (click)="showInfo()">Show information</button>
  <button (click)="resetInfo()">Reset information</button>
</footer>
<router-outlet></router-outlet>
