/* Cambio del color de fondo y letra*/
body{
    background-color: #e2e2cd;
    font-family: 'Hind',sans-serif;
}

/*Cambios en la barra de navegación*/
.topbar{
    padding-top: 10px;
}
.topbar>#navbar {
    list-style-type: none;
    /*margin: 0;*/
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 70px;
}

.topbar>#navbar >a{
    float: left;

}

.topbar>#navbar >a {
    top: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

#navbar >a:hover {
    background-color: #80c300;
    height: 70px;
}

.topbar>a>#logo{
    float: left;
    margin-right: 20px;
}
/*Fin de edicion de la barra de navegación*/
/*Cambio de idioma*/
#language{
    margin-top: 16px;
    margin-right: 18px;
    color: white;
}

#language > a{
    padding: 3px;
}

#language > label{
    position: relative;
    bottom: 13px;
    padding: 5px;
}
/*Fin cambio de idioma*/
/*Centrado del texto de inicio*/
.titulo{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#inicial{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Fin centrado del texto de inicio*/
/*Organización del footer*/
footer{
    color: white;
    clear: both;
    background-color: #333;
}
.title1{
    font-size: 17px;
    font-weight: bold;
}
.title2{
    font-size: 17px;
    font-weight: bold;
    padding-left: 20px;
}

.contacto>h3{
    padding-top: 20px;
    text-align: center;
}
.contacto>h5{
    text-align: center;
}

.contacto{
    height: 130px;
}
.iconos{
    padding-top: 20px;
}
/*Fin organización del footer*/
/* Organización del contenido de la página*/
.main-body>article{
    float:left;
    position: relative;
    width: 25%;
    margin-left: 20%;
}
/*Estilo del boton*/
.main-body>article>button{
    margin-bottom: 55px;
    float: right;
    margin-right: 110px;
    border-radius: 4px;
    background-color: #80c300;
    border: none;
    color: #e2e2cd;
    font-size: 28px;
    width: 55px;
    transition: all 0.5s;
    cursor: pointer;
    height: 40px;
}

.main-body>article>button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.main-body>article>button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.main-body>article>button:hover span {
  padding-right: 25px;
}

.main-body>article>button:hover span:after {
  opacity: 1;
  right: 0;
}
/*Estilo del boton*/
.description{
    width: 200px;
    text-align: justify;
}
h1 {
    text-align:center;
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin:50px 0px 50px 0px
}
/* Fin organización del contenido de la página*/

/*Css para el formulario*/
.info p {
    text-align:center;
    color: #999;
    text-transform:none;
    font-weight:600;
    font-size:15px;
    margin-top:2px
}

.info i {
    color:#333;
}
form h1 {
    font-size: 18px;
    background: #333 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align:left;
}

form {
    border-radius: 5px;
    max-width:700px;
    width:100%;
    margin: 5% auto;
    background-color: #f4ffdb;
    overflow: hidden;
}

p span {
    color: #F00;
}

p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
}

input {
    border-radius: 0px 5px 5px 0px;
    border: 2px solid #EEEEEE;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
}

a {
    text-decoration:inherit
}
input[type='number'] {
    -moz-appearance:textfield;
}
textarea {
    font-family: 'Hind',sans-serif;
    font-size: 14px;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid #EEEEEE;
    margin: 0;
    width: 75%;
    height: 130px;
    float: left;
    padding: 0px 15px;
}

.form-group {
    overflow: hidden;
    clear: both;
}

.icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:42px;
    position: relative;
    text-align: center;
    line-height:40px;
}

i {
    color:#555;
}

.contentform {
    padding: 40px 30px;
}

.bouton-contact{
    background-color: #80c300;
    color: #FFF;
    text-align: center;
    width: 100%;
    border:0;
    padding: 17px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
}

.leftcontact {
    width:49.5%;
    float:left;
    border-right: 1px dotted #CCC;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
}

.rightcontact {
    width:49.5%;
    float:right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
}

.validation {
    display:none;
    margin: 0 0 10px;
    font-weight:400;
    font-size:13px;
    color: #333;
}

#sendmessage {
    display:none;
    text-align:center;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #80c300;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
    display:block;
}
/*Fin css para formularios*/
